Given the names and grades for each student in a class of N students, store them in a nested list and print the name(s) of any student(s) having the second lowest grade.

Note: If there are multiple students with the second lowest grade, order their names alphabetically and print each name on a new line.

Example

The ordered list of scores is , so the second lowest score is . There are two students with that score: . Ordered alphabetically, the names are printed as:

alpha
beta
Input Format

The first line contains an integer, , the number of students.
The  subsequent lines describe each student over  lines.
- The first line contains a student's name.
- The second line contains their grade.

Constraints

There will always be one or more students having the second lowest grade.
Output Format

Print the name(s) of any student(s) having the second lowest grade in. If there are multiple students, order their names alphabetically and print each one on a new line.

Sample Input 0

5
Harry
37.21
Berry
37.21
Tina
37.2
Akriti
41
Harsh
39
Sample Output 0

Berry
Harry
Explanation 0

There are  students in this class whose names and grades are assembled to build the following list:

python students = [['Harry', 37.21], ['Berry', 37.21], ['Tina', 37.2], ['Akriti', 41], ['Harsh', 39]]

The lowest grade of  belongs to Tina. The second lowest grade of  belongs to both Harry and Berry, so we order their names alphabetically and print each name on a new line.

In [33]:
if __name__ == '__main__':
    records = []
    for i in range(int(input("Quantidade de alunos? "))):
        name = input("Nome do aluno: ")
        score = float(input("Nota do aluno: "))
        records.append([name,score])
scores = sorted(set(nota for nome, nota in records))

print(*sorted(nome for nome, nota in records if nota == scores[1]), sep = '\n')

Quantidade de alunos? 5
Nome do aluno: alan
Nota do aluno: 5.4
Nome do aluno: bob
Nota do aluno: 5.5
Nome do aluno: mark
Nota do aluno: 5.5
Nome do aluno: kelly
Nota do aluno: 6.1
Nome do aluno: jonas
Nota do aluno: 7.5
bob
mark

In [4]:
records

[['mateus', 37.21],
 ['filipe', 37.21],
 ['rebeca', 37.2],
 ['aurora', 41.0],
 ['pedro', 39.0]]

In [8]:
sorted(list([score, name] for name, score in records))

[[37.2, 'rebeca'],
 [37.21, 'filipe'],
 [37.21, 'mateus'],
 [39.0, 'pedro'],
 [41.0, 'aurora']]

In [9]:
listaTemp = records

In [10]:
records[4] = ["pedro", 37.2]

In [18]:
scores = sorted(set(score for name, score in records))

In [19]:
scores

[37.2, 37.21, 41.0]

In [26]:
print(*sorted(name for name, score in records if score == scores[1]), sep = "\n")

filipe
mateus

In [30]:
print(*'Uma cadeia de caracteres', sep = '\n')

U
m
a

c
a
d
e
i
a

d
e

c
a
r
a
c
t
e
r
e
s