In [6]:
i = 1
while i <= 10:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

In [8]:
print("Number Pattern")
# Decide row count (our pattern contains 5 rows)
row = 5
# start: 1
# stop: row+1
# step: 1
# run loop 5 times
for i in range(1, row +1, 1):
    # Run inner loop i+1 times
    for j in range(1, i+1):
        print(j, end=' ')
        # empty line after each row

        print("")

Number Pattern
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [15]:
n = int(input('Enter a number: '))
x = sum(range(1,n+1,1))
print('Sum is: ', x)

Enter a number: 10
Sum is:  55

In [13]:
n = int(input('Enter a number: ')) 
for i in range(1,11,1):
    p = n * i
    print(p)

Enter a number: 7
7
14
21
28
35
42
49
56
63
70

In [19]:
numbers = [12, 75, 150, 180, 145, 525, 50]
# iterate each item on a list
for item in numbers:
    if item > 500:
        break
    elif item > 150:
        continue
# check if number is divisible by 5
    elif item % 5 == 0:
        print(item)

75
150
145

In [32]:
num = 75869786465497648648
count = 0
while num !=0:
    num = num // 10
    count = count +  1
print("Total digits are: ",count)

Total digits are:  20

In [44]:
n = 5
k = 5
for i in range(0,6):
    for j in range(k-i, 0, -1):
        print(j, end=" ")
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [49]:
list1 = [10,20,30,40,50]
new_list = reversed(list1)
for i in new_list:
    print(i)

50
40
30
20
10

In [2]:
i = -10
while i <= -1:
    print(i)
    i += 1

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [2]:
start = 25
end = 50
print("Prime numbers between", start, "and", end, "are:")

for num in range(start, end +1):
    # all prime numbers are greater than 1
    # if number is less than or equal to 1, it is not prime
    if num > 1: 
        for i in range(2, num):
            #check for factors
            if (num % i) ==0:
                # not a prime number so break inner loop and 
                # look for next number
                break
        else: 
            print(num)

Prime numbers between 25 and 50 are:
29
31
37
41
43
47

In [8]:
b = int(input("beginning of interval: "))
e = int(input("end of interval: "))

for num in range(b, e+1):
    if num > 1:
        for n in range(2, num):
            if (num%n) == 0:
                
                break
        else: 
            print(num)

beginning of interval: 25
end of interval: 50
29
31
37
41
43
47

In [31]:
factorial = 1
num = int(input("Enter a number greater than zero: "))
for i in range(1, num+1):
    factorial = factorial * i
print(factorial)

Enter a number greater than zero: 5
120

In [39]:
num = input('Enter a number: ')
print(str(num)[::-1])

Enter a number: 1234
4321

In [4]:
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
my_list[1::2]

[20, 40, 60, 80, 100]

In [13]:
input_number = 6
for i in range(1,input_number+1):
    print("The current number is: ", i, "and the cube is",(i*i*i))

The current number is:  1 and the cube is 1
The current number is:  2 and the cube is 8
The current number is:  3 and the cube is 27
The current number is:  4 and the cube is 64
The current number is:  5 and the cube is 125
The current number is:  6 and the cube is 216

In [23]:
rows = 5
for i in range(0,rows):
    for j in range(0,i+1):
        print("*", end='')
    print('\r')
    
for i in range(rows, 0, -1):
    for j in range(0,i-1):
        print('*', end='')
    print('\r')

*
**
***
****
*****
****
***
**
*

## Continuar daqui...

https://pynative.com/python-if-else-and-for-loop-exercise-with-solutions/#h-exercise-1-print-first-10-natural-numbers-using-while-loop